<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Site</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <h1>Smart Cook</h1>
    </header>

    <div id="loginForm">
        <input type="text" id="username" placeholder="Username">
        <input type="password" id="password" placeholder="Password">
        <button id="loginButton">Login</button>
        <button id="signinButton">Signin</button>
    </div>
    

    <!-- Hidden greeting message and logout button -->
    <div id="userGreeting">
        <p>Hello, <span id="usernameDisplay"></span>!</p>
        <div class="button-group">
            <button id="showFormButton">Add New Recipe</button> <!-- Button to show the form -->
            <button id="logoutButton">Logout</button>
        </div>    
    </div>
    
        <div id="searchArea">
            <input type="text" id="searchTagInput" placeholder="Search by tag..." required>
            <button id="searchButton">Search</button>
        </div>
    

    <div id="registerForm">
        <h2>Register</h2>
        <input type="text" id="regUsername" placeholder="Choose a username">
        <input type="password" id="regPassword" placeholder="Choose a password">
        <span id="passwordError" class="error-text">Password must be at least 8 characters long, include an uppercase letter, a lowercase letter, a number, and a special character.</span>
        <input type="email" id="regEmail" placeholder="Your email">
        <span id="emailError" class="error-text">Please enter a valid email address.</span>
        <button id="registerButton">Register</button>
        <button id="cancelRegButton">Cancel</button>
    </div>
    

    <div id="openAIRequest">
        <h2>Recipe For You</h2>
        
        <!-- Checkboxes for dietary preferences -->
        <table>
            <tr>
                <td><label><input type="checkbox" id="vegan" name="diet" value="Vegan"> Vegan</label></td>
                <td><label><input type="checkbox" id="vegetarian" name="diet" value="Vegetarian"> Vegetarian</label></td>
                <td><label><input type="checkbox" id="kosher" name="diet" value="Kosher"> Kosher</label></td>
                <td><label><input type="checkbox" id="desserts" name="diet" value="Desserts"> Desserts</label></td>
            </tr>
        </table>
                
        <!-- Dropdown for selecting cuisine -->
        <label for="cuisineSelect">Choose a cuisine:</label>
        <select id="cuisineSelect">
            <option value="Any">Any</option>
            <option value="Italian">Italian</option>
            <option value="French">French</option>
            <option value="Russian">Russian</option>
            <option value="Georgian">Georgian</option>
            <option value="Greek">Greek</option>
            <option value="Mediterranean">Mediterranean</option>
            <option value="Jewish ">Jewish</option>
            <option value="Middle Eastern">Middle Eastern</option>
            <option value="Asian">Asian</option>
            <option value="Thai">Thai</option>
            <option value="Japanese">Japanese</option>
            <option value="Chinese">Chinese</option>
            <option value="Indian">Indian</option>
            <option value="American">American</option>
            <option value="Mexican">Mexican</option>
        </select>
        <label for="ingredients_from_user">Prefered Ingredients:</label>
        <input type="text" id="ingredients_from_user" name="ingredients_from_user"><br>
        <button id="sendToOpenAIButton">Generate</button>
        <pre id="openAIResponse"></pre>
    </div>
    
    
    
    <form id="addRecipeForm">
        <h2>Add a New Recipe</h2>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="tags">Tags (comma-separated):</label>
        <input type="text" id="tags" name="tags" required><br>

        <label for="ingredients">Ingredients (comma-separated):</label>
        <input type="text" id="ingredients" name="ingredients" required><br>

        <label for="instructions">Instructions (comma-separated):</label>
        <input type="text" id="instructions" name="instructions" required><br>

        <button type="submit">Add Recipe</button>
        <button type="button" id="cancelButton">Cancel</button>
    </form>        

    <main id="recipes">
        <script type="module" src="static/js/main.js"></script>    
    </main>
 </body>
</html>
